html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: $font-1;
  @include min-width($bpoint-mob) {
    font-size: 12px;
  }
  @include min-width($bpoint-desklg) {
    font-size: 24;
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-size: $font-size-body;
  font-family: $font-1;
  font-weight: $fw-normal;
  line-height: 1.4;
  color: $color-1;
  min-width: $cont-min-width;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $color-5;
  }
}

img {
  max-width: 100%;
}

h1,
.h1 {
  font-size: $font-size-h1;
  margin-bottom: 0.5 * $space;
}
h2,
.h2 {
  font-size: $font-size-h2;
  margin-bottom: 0.5 * $space;
}
h3,
.h3 {
  font-size: $font-size-h3;
  margin-bottom: 0.5 * $space;
}

p {
  font-size: $font-size-body;
  margin: 0.5 * $space 0;
}
input {
  font-family: $font-2;
  font-size: $font-size-body;
  &::placeholder {
    font-family: $font-2;
  }
  border: none;
  background: none;
  padding: 0;
  &:focus {
    box-shadow: 0 3px 5px $color-5;
  }
  outline-color: $color-5;
}
// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.inpt {
  border-bottom: 1px solid $color-4;
  padding: $base-unit * 0.5;
}

button {
  font-family: $font-1;
  border: none;
  background: none;
  padding: 0;
}

.btn {
  height: 42px;
  padding: 8px 16px;
  cursor: pointer;
  border-color: $color-4;
  &--main {
    display: block;
    text-align: center;
    width: 183px;
    background-color: $color-3;
    border-radius: 3px;
    border: 3px solid $color-3;
    color: $color-2;
    font-size: $font-size-h7;
    &:hover {
      background-color: $color-2;
      color: $color-3;
      font-size: $fw-bold;
    }
  }
  &--border-left {
    border-left: 1px solid $color-4;
    margin: 0 -2px 0 0;
  }
  &--border-right {
    border-right: 1px solid $color-4;
  }

  &:hover {
    background-position: 0;
    color: $color-5; /*For IE*/
  }
  &__close {
    cursor: pointer;
    &--1,
    &--2 {
      display: block;
      width: 20px;
      height: 3px;
      background-color: $black;
    }
    &--1 {
      transform: rotate(-45deg) translate(0px, 0);
    }
    &--2 {
      transform: rotate(45deg) translate(-2px, -2px);
    }
  }
}

.wrapper {
  padding-left: $base-unit;
  padding-right: $base-unit;
  position: relative;

  @include min-width($bpoint-tab) {
    padding-left: $space;
    padding-right: $space;
  }

  @include min-width($bpoint-desk) {
    max-width: $cont-max-width;
    margin: 0 auto;
  }
  @include min-width($bpoint-desk) {
    max-width: $cont-max-width;
    margin: 0 auto;
  }
}

.component {
  margin-top: $space;
  margin-bottom: $space;
  &--sm {
    margin-top: $base-unit;
    margin-bottom: $base-unit;
  }
}

.hide-mob {
  display: none;
  @include min-width($bpoint-desk) {
    display: unset;
  }
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: $color-4;
}
.fake-bold:hover {
  text-shadow: 1px 0 0 currentColor;
}

.rotate {
  animation: rotate-btn 0.5s;
  animation-iteration-count: 2;
}

.shadow {
  box-shadow: -2px 9px 25px -4px rgba(0, 0, 0, 0.75);
}
