<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    
    {% include "components/header/header.html" %}
    
    {% include "components/basketMenu/basketMenu.html" %}

   
    {% include "components/whiteSpace.html" %}
    <script src="js/modules/search.js" type="text/javascript"></script>
    <script src="js/modules/basketMenu.js" type="text/javascript"></script>
    <script src="js/modules/navBar.js" type="text/javascript"></script>


</html>
