<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Maciej Moroz" />
    <meta name="Description" content="Some description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Aurora Box</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    
    {% include "components/header/header.html" %}
    
    {% include "components/basketMenu/basketMenu.html" %}

   
    {% include "components/whiteSpace.html" %}
    <script src="js/modules/search.js"></script>
    <script src="js/modules/basketMenu.js"></script>
    <script src="js/modules/navBar.js"></script>


</html>
