<div class="basket">
  <div class="basket__content shadow">
    <div class="component--sm">
      <button class="btn__close basket__close" data-closeBasketBtn>
        <span class="btn__close--1"></span>
        <span class="btn__close--2"></span>
      </button>
      <p
        class="basket__content__text
  basket__content__text--sm"
      >
        Produkty w koszyku:
        <span data-basketCounter="basketCounter"></span>
      </p>
      <p class="basket__content__text">
        Kwota do zapłaty:
        <span data-basketToPay="basketToPay"></span>
      </p>
    </div>
    <span class="line"></span>
    <div class="product">
      <img class="product__img" src="/img/products/1.png" alt="product img" />
      <div class="product__desc">
        <p class="product__desc__name">
          biustonosz push-up line mos 12
        </p>
        <p class="product__desc__price">59.00 zł</p>
        <div class="product__desc__quantity">
          <p class="product__desc__quantity__txt">ilość:</p>
          <input type="number" class="product__desc__quantity__inp" />
          <div class="product__desc__quantity__tools">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="12"
                height="16"
                viewBox="0 0 12 16"
              >
                <image
                  id="icon__delete"
                  width="12"
                  height="16"
                  xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAABHNCSVQICAgIfAhkiAAAAH9JREFUKJHt0rEJwlAUheHvSQoHsNIFLHQGxxDcyiGCe2QESbC3EhzAQsKz8EUwINwmnac653J+uMVJvrXFfnQ7oRtCwhGrkndYjIA7muKvCS3WYmpTMZtAOaNLqPAMAD2qWfCVj/7AZEAOdvMA9LgEgDPvtcISB8x/lB+ocXsBa/ITHfqY86EAAAAASUVORK5CYII="
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                width="16"
                height="16"
              >
                <defs>
                  <image
                    width="16"
                    height="16"
                    id="img1"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IB2cksfwAAAGBQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+k/ojQAAACB0Uk5TAAJtJaH/5ygn8iSQKjlloumaAaOJmaSYA5dzhJY/fGgPOgO/AAAAWUlEQVR4nHXJ1xKAIAxE0SAGe+8N//8vBZwh0Rn27dwFoIlIAp+IUSU8pBmiyukvysqU2rvB1pSuJ6Mp0ntAuxG+nvw/Oy8hr6+3kGH/GQ7rk+wCN1xa39wPNM8FEVHKqLsAAAAASUVORK5CYII="
                  />
                </defs>
                <style>
                  tspan {
                    white-space: pre;
                  }
                </style>
                <g id="Header">
                  <g id="header__basket">
                    <g id="basket__drop">
                      <g id="prod-1">
                        <g id="Szczegoly">
                          <use id="icon__edit" href="#img1" x="0" y="0" />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- product 2 -->
    <div class="product">
      <img class="product__img" src="/img/products/2.png" alt="product img" />
      <div class="product__desc">
        <p class="product__desc__name product__desc__name--sale">
          biustonosz push-up line mos 12
        </p>
        <p class="product__desc__price">79.00 zł</p>
        <div class="product__desc__quantity">
          <p class="product__desc__quantity__txt">ilość:</p>
          <input type="number" class="product__desc__quantity__inp" />
          <div class="product__desc__quantity__tools">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="12"
                height="16"
                viewBox="0 0 12 16"
              >
                <image
                  id="icon__delete"
                  width="12"
                  height="16"
                  xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAABHNCSVQICAgIfAhkiAAAAH9JREFUKJHt0rEJwlAUheHvSQoHsNIFLHQGxxDcyiGCe2QESbC3EhzAQsKz8EUwINwmnac653J+uMVJvrXFfnQ7oRtCwhGrkndYjIA7muKvCS3WYmpTMZtAOaNLqPAMAD2qWfCVj/7AZEAOdvMA9LgEgDPvtcISB8x/lB+ocXsBa/ITHfqY86EAAAAASUVORK5CYII="
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                width="16"
                height="16"
              >
                <defs>
                  <image
                    width="16"
                    height="16"
                    id="img1"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IB2cksfwAAAGBQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+k/ojQAAACB0Uk5TAAJtJaH/5ygn8iSQKjlloumaAaOJmaSYA5dzhJY/fGgPOgO/AAAAWUlEQVR4nHXJ1xKAIAxE0SAGe+8N//8vBZwh0Rn27dwFoIlIAp+IUSU8pBmiyukvysqU2rvB1pSuJ6Mp0ntAuxG+nvw/Oy8hr6+3kGH/GQ7rk+wCN1xa39wPNM8FEVHKqLsAAAAASUVORK5CYII="
                  />
                </defs>
                <style>
                  tspan {
                    white-space: pre;
                  }
                </style>
                <g id="Header">
                  <g id="header__basket">
                    <g id="basket__drop">
                      <g id="prod-1">
                        <g id="Szczegoly">
                          <use id="icon__edit" href="#img1" x="0" y="0" />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <span class="line"></span>
    <a href="#" class="btn btn--main basket__btn">Zobacz koszyk</a>
  </div>
</div>
