@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 360px) {
    html {
      font-size: 12px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 24px; } }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  min-width: 359.996px; }

ul,
ol {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #ecc7d0; }

img {
  max-width: 100%; }

h1,
.h1 {
  font-size: 42.728px;
  margin-bottom: 14px; }

h2,
.h2 {
  font-size: 35px;
  margin-bottom: 14px; }

h3,
.h3 {
  font-size: 28.98px;
  margin-bottom: 14px; }

p {
  font-size: 14px;
  margin: 14px 0; }

input {
  font-family: "Lato", sans-serif;
  border: none;
  background: none;
  padding: 0; }
  input::-webkit-input-placeholder {
    font-family: "Helvetica", sans-serif; }
  input::-moz-placeholder {
    font-family: "Helvetica", sans-serif; }
  input::-ms-input-placeholder {
    font-family: "Helvetica", sans-serif; }
  input::placeholder {
    font-family: "Helvetica", sans-serif; }
  input:focus {
    -webkit-box-shadow: 0 3px 5px #000;
            box-shadow: 0 3px 5px #000; }
  .is-submitted input:invalid {
    -webkit-box-shadow: 0 3px 5px red;
            box-shadow: 0 3px 5px red; }
    .is-submitted input:invalid + .form-error-msg {
      visibility: visible; }

button {
  border: none;
  background: none;
  padding: 0; }

.btn {
  height: 42px;
  padding: 8px 16px;
  cursor: pointer;
  border-color: #d7d7d7;
  margin: 0 0 0 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, #ecc7d0));
  background: linear-gradient(90deg, #000 50%, #ecc7d0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  position: relative;
  color: #000;
  /*For IE*/ }
  .btn--border-left {
    border-left: 1px solid #d7d7d7;
    margin: 0 -2px 0 0; }
  .btn--border-right {
    border-right: 1px solid #d7d7d7; }
  .btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ecc7d0), color-stop(50%, transparent));
    background: linear-gradient(90deg, #ecc7d0 50%, transparent 50%);
    z-index: -1; }
  .btn, .btn:after {
    background-size: 300%;
    background-position: 100%;
    -webkit-transition: 1s, font-size 0.2s;
    transition: 1s, font-size 0.2s; }
  .btn:hover, .btn:hover:after {
    background-position: 0;
    color: #000;
    /*For IE*/ }

.wrapper {
  padding-left: 14px;
  padding-right: 14px;
  position: relative; }
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 28px;
      padding-right: 28px; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 1239.994px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 1239.994px;
      margin: 0 auto; } }

.component {
  margin-top: 28px;
  margin-bottom: 28px; }

.hide-mob {
  display: none; }
  @media (min-width: 768px) {
    .hide-mob {
      display: unset; } }

.line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d7d7d7; }

.fake-bold:hover {
  text-shadow: 1px 0 0 currentColor; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  20% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  30% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(15deg);
            transform: translate(0.5px, -0.5px) rotate(15deg); }
  50% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-15deg);
            transform: translate(-0.5px, 0.5px) rotate(-15deg); }
  60% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(15deg);
            transform: translate(-0.5px, 0.5px) rotate(15deg); }
  70% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-15deg);
            transform: translate(0.5px, 0.5px) rotate(-15deg); }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  90% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  100% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-15deg);
            transform: translate(0.5px, -0.5px) rotate(-15deg); } }

@keyframes shake {
  0% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  10% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  20% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  30% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  40% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(15deg);
            transform: translate(0.5px, -0.5px) rotate(15deg); }
  50% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-15deg);
            transform: translate(-0.5px, 0.5px) rotate(-15deg); }
  60% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(15deg);
            transform: translate(-0.5px, 0.5px) rotate(15deg); }
  70% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-15deg);
            transform: translate(0.5px, 0.5px) rotate(-15deg); }
  80% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-15deg);
            transform: translate(-0.5px, -0.5px) rotate(-15deg); }
  90% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(15deg);
            transform: translate(0.5px, 0.5px) rotate(15deg); }
  100% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-15deg);
            transform: translate(0.5px, -0.5px) rotate(-15deg); } }

@-webkit-keyframes send {
  0% {
    -webkit-transform: translate(0, 0) rotate(15deg);
            transform: translate(0, 0) rotate(15deg); }
  10% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px); }
  30% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  60% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px); }
  70% {
    -webkit-transform: translate(15px, -15px);
            transform: translate(15px, -15px); }
  80% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px); }
  90% {
    -webkit-transform: translate(35px, -35px);
            transform: translate(35px, -35px); }
  100% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px); } }

@keyframes send {
  0% {
    -webkit-transform: translate(0, 0) rotate(15deg);
            transform: translate(0, 0) rotate(15deg); }
  10% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px); }
  30% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px); }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px); }
  60% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px); }
  70% {
    -webkit-transform: translate(15px, -15px);
            transform: translate(15px, -15px); }
  80% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px); }
  90% {
    -webkit-transform: translate(35px, -35px);
            transform: translate(35px, -35px); }
  100% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px); } }

@-webkit-keyframes send-line {
  0% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg); }
  10% {
    -webkit-transform: translate(-20px, 20px) rotate(-45deg);
            transform: translate(-20px, 20px) rotate(-45deg); }
  20% {
    -webkit-transform: translate(-25px, 25px) rotate(-45deg);
            transform: translate(-25px, 25px) rotate(-45deg);
    opacity: 0; }
  30% {
    -webkit-transform: translate(-20px, 20px) rotate(-45deg);
            transform: translate(-20px, 20px) rotate(-45deg); }
  40% {
    -webkit-transform: translate(-15px, 15px) rotate(-45deg);
            transform: translate(-15px, 15px) rotate(-45deg);
    opacity: 1; }
  50% {
    -webkit-transform: translate(-10px, 10px) rotate(-45deg);
            transform: translate(-10px, 10px) rotate(-45deg); }
  60% {
    -webkit-transform: translate(-5px, 5px) rotate(-45deg);
            transform: translate(-5px, 5px) rotate(-45deg); }
  70% {
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
            transform: translate(0px, 0px) rotate(-45deg); }
  80% {
    -webkit-transform: translate(5px, -5px) rotate(-45deg);
            transform: translate(5px, -5px) rotate(-45deg); }
  90% {
    -webkit-transform: translate(30px, -30px) rotate(-45deg);
            transform: translate(30px, -30px) rotate(-45deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate(100px, -100px) rotate(-45deg);
            transform: translate(100px, -100px) rotate(-45deg);
    opacity: 0; } }

@keyframes send-line {
  0% {
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg); }
  10% {
    -webkit-transform: translate(-20px, 20px) rotate(-45deg);
            transform: translate(-20px, 20px) rotate(-45deg); }
  20% {
    -webkit-transform: translate(-25px, 25px) rotate(-45deg);
            transform: translate(-25px, 25px) rotate(-45deg);
    opacity: 0; }
  30% {
    -webkit-transform: translate(-20px, 20px) rotate(-45deg);
            transform: translate(-20px, 20px) rotate(-45deg); }
  40% {
    -webkit-transform: translate(-15px, 15px) rotate(-45deg);
            transform: translate(-15px, 15px) rotate(-45deg);
    opacity: 1; }
  50% {
    -webkit-transform: translate(-10px, 10px) rotate(-45deg);
            transform: translate(-10px, 10px) rotate(-45deg); }
  60% {
    -webkit-transform: translate(-5px, 5px) rotate(-45deg);
            transform: translate(-5px, 5px) rotate(-45deg); }
  70% {
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
            transform: translate(0px, 0px) rotate(-45deg); }
  80% {
    -webkit-transform: translate(5px, -5px) rotate(-45deg);
            transform: translate(5px, -5px) rotate(-45deg); }
  90% {
    -webkit-transform: translate(30px, -30px) rotate(-45deg);
            transform: translate(30px, -30px) rotate(-45deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate(100px, -100px) rotate(-45deg);
            transform: translate(100px, -100px) rotate(-45deg);
    opacity: 0; } }

.header__top {
  font-size: 13.02px;
  height: 39px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden; }
  .header__top__contact .link {
    margin: 0 14px 0 0;
    position: relative; }
    .header__top__contact .link__content {
      display: none; }
      @media (min-width: 580px) {
        .header__top__contact .link__content {
          display: unset; } }
    .header__top__contact .link:hover .header__top__svg--phone {
      -webkit-animation: shake 0.7s;
              animation: shake 0.7s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    .header__top__contact .link:hover .header__top__svg--email {
      -webkit-animation: send 0.55s;
              animation: send 0.55s; }
    .header__top__contact .link:hover .link__animation-line {
      -webkit-animation: send-line 0.5s;
              animation: send-line 0.5s; }
    .header__top__contact .link__animation-line {
      position: absolute;
      width: 10px;
      height: 1px;
      margin: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0; }
      .header__top__contact .link__animation-line--1 {
        top: 0px;
        left: 0px; }
      .header__top__contact .link__animation-line--2 {
        top: 0px;
        left: 5px; }
      .header__top__contact .link__animation-line--3 {
        top: 0px;
        left: 10px; }
  .header__top__svg {
    fill: #ea2260;
    margin: 0 11px 0 0; }
  .header__top__acc {
    position: relative; }
