<div class="wrapper">
  <section class="mainBar component">
    <div class="mainBar__content">
      <h1>
        <a href="#" class="mainBar__content__logo">
          <img
            src="img/logo__aurora-box.png"
            alt="aurora box logo"
            class="mainBar__content__logo__img"
          />
        </a>
      </h1>
      <div class="mainBar__content__tools">
        <div
          class="mainBar__content__tools__search iconAnimation "
          data-search-btn
        >
          <svg
            class="mainBar__content__tools__search__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="15.002"
            height="15.002"
            viewBox="0 0 15.002 15.002"
          >
            <path
              id="icon__lens"
              d="M1310.012,102.709a5.871,5.871,0,1,0-.8,8.967,1.245,1.245,0,0,0,.335.622l3.333,3.332a1.24,1.24,0,0,0,1.754-1.754l-3.333-3.333a1.229,1.229,0,0,0-.622-.335A5.876,5.876,0,0,0,1310.012,102.709Zm-1.052,7.25a4.382,4.382,0,1,1,0-6.2A4.388,4.388,0,0,1,1308.959,109.959Z"
              transform="translate(-1299.993 -100.993)"
            />
          </svg>
        </div>
        <div class="mainBar__content__tools__searchBox" data-search-box>
          <label for="search" class="hidden">Search: </label>
          <input
            name="search"
            type="text"
            placeholder="co chcesz kupic?"
            class="inpt mainBar__content__tools__searchBox__searchInput"
          />
          <button
            class="inpt mainBar__content__tools__searchBox__searchBtn"
            aria-label="search"
          >
            <svg
              class="mainBar__content__tools__search__iconBtn"
              xmlns="http://www.w3.org/2000/svg"
              width="15.002"
              height="15.002"
              viewBox="0 0 15.002 15.002"
            >
              <path
                id="icon__lensBtn"
                d="M1310.012,102.709a5.871,5.871,0,1,0-.8,8.967,1.245,1.245,0,0,0,.335.622l3.333,3.332a1.24,1.24,0,0,0,1.754-1.754l-3.333-3.333a1.229,1.229,0,0,0-.622-.335A5.876,5.876,0,0,0,1310.012,102.709Zm-1.052,7.25a4.382,4.382,0,1,1,0-6.2A4.388,4.388,0,0,1,1308.959,109.959Z"
                transform="translate(-1299.993 -100.993)"
              />
            </svg>
          </button>
          <button class="btn__close" data-closeBtn aria-label="close">
            <span class="btn__close--1"></span>
            <span class="btn__close--2"></span>
          </button>
        </div>
        <div
          class="mainBar__content__tools__basket iconAnimation"
          data-basket-btn
        >
          <svg
            class="mainBar__content__tools__basket__icon "
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="31"
            viewBox="0 0 26 31"
          >
            <path
              id="icon__basket"
              d="M1471.811,131a2.811,2.811,0,0,1-2.756-3.365l1.859-16.984a2.838,2.838,0,0,1,2.768-2.346h1.925l.817-5.308a3.769,3.769,0,0,1,3.656-3h3.839a3.757,3.757,0,0,1,3.645,2.938l.827,5.365h1.922a2.819,2.819,0,0,1,2.755,2.263l1.885,17.154a2.751,2.751,0,0,1-.6,2.252,2.794,2.794,0,0,1-2.171,1.03Zm1.872-20.758a.878.878,0,0,0-.859.7l-1.859,16.982a.944.944,0,0,0,.168.814.86.86,0,0,0,.677.32h20.374a.876.876,0,0,0,.859-1.049l-1.885-17.152a.869.869,0,0,0-.845-.622h-1.625l.484,3.138a.97.97,0,0,1-.808,1.106,1.073,1.073,0,0,1-.15.011.967.967,0,0,1-.954-.822l-.528-3.433-9.466,0-.527,3.431a.967.967,0,1,1-1.912-.3l.483-3.136Zm4.641-6.89-.761,4.952h8.871l-.771-5.011a1.8,1.8,0,0,0-1.745-1.354h-3.839A1.807,1.807,0,0,0,1478.324,103.352Z"
              transform="translate(-1469 -99.999)"
            />
          </svg>
          <p class="mainBar__content__tools__basket__text hide-mob">
            Twój Koszyk
          </p>

          <div
            class="mainBar__content__tools__basket__counter iconAnimation--counter"
          >
            <span>2</span>
          </div>
        </div>
        <div
          class="mainBar__content__tools__hamburger iconAnimation--hamburger"
          data-hamburger-btn
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </section>
</div>
