<nav class="nav">
  <div class="wrapper">
    <ul class="nav-menu">
      <li class="nav-menu__main">
        <a href="#">Kategorie</a>
        <ul class="nav-menu__second-lvl">
          <li>
            <a href="#">Biustonosze</a>
            <ul class="nav-menu__third-lvl">
              <li><a href="#">Bardotka</a></li>
              <li><a href="#">Minimizer</a></li>
              <li><a href="#">Multiway</a></li>
              <li><a href="#">Push-up</a></li>
              <li><a href="#">Soft</a></li>
              <li><a href="#">Sportowe</a></li>
              <li><a href="#">Usztywniane</a></li>
            </ul>
          </li>
          <li><a href="#">Body</a></li>
          <li><a href="#">Majtki</a></li>
          <li><a href="#">Stroje kąpielowe</a></li>
          <li><a href="#">Bielizna erotyczna</a></li>
          <li><a href="#">Stroje sporotwe</a></li>
          <li><a href="#">Bielizna wieczorowa</a></li>
        </ul>
      </li>
      <li class="nav-menu__main"><a href="#">Nowości</a></li>
      <li class="nav-menu__main"><a href="#">Promocje</a></li>
      <li class="nav-menu__main"><a href="#">Wyprzedaże</a></li>
      <li class="nav-menu__main"><a href="#">Kolekcje Sezony</a></li>
      <li class="nav-menu__main"><a href="#">Nasza oferta</a></li>
      <li class="nav-menu__main"><a href="#">Trendy 2018</a></li>
      <li class="nav-menu__main"><a href="#">Blog</a></li>
      <li class="nav-menu__main"><a href="#">Kontakt</a></li>
    </ul>

    <span class="line"></span>
  </div>
</nav>
