<nav>
  <div class="wrapper">
    <div class="nav-menu2">
      <div class="nav-menu2__main">
        <input type="checkbox" id="1" />
        <label class="btn-animation" for="1">Kategorie</label>
        <ul class="nav-menu2__second-lvl">
          <li>
            <div>
              <input type="checkbox" id="1-1" />
              <label class="btn-animation" for="1-1">Biustonosze</label>
              <ul class="nav-menu2__third-lvl">
                <li><a class="btn-animation" href="#">Bardotka</a></li>
                <li><a class="btn-animation" href="#">Minimizer</a></li>
                <li><a class="btn-animation" href="#">Multiway</a></li>
                <li><a class="btn-animation" href="#">Push-up</a></li>
                <li><a class="btn-animation" href="#">Soft</a></li>
                <li><a class="btn-animation" href="#">Sportowe</a></li>
                <li><a class="btn-animation" href="#">Usztywniane</a></li>
              </ul>
            </div>
          </li>
          <li><a class="btn-animation" href="#">Body</a></li>
          <li><a class="btn-animation" href="#">Majtki</a></li>
          <li><a class="btn-animation" href="#">Stroje kąpielowe</a></li>
          <li><a class="btn-animation" href="#">Bielizna erotyczna</a></li>
          <li><a class="btn-animation" href="#">Stroje sporotwe</a></li>
          <li><a class="btn-animation" href="#">Bielizna wieczorowa</a></li>
        </ul>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="2" />
        <label class="btn-animation" for="2">Nowości</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="3" />
        <label class="btn-animation" for="3">Promocje</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="4" />
        <label class="btn-animation" for="4">Wyprzedaże</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="5" />
        <label class="btn-animation" for="5">Kolekcje Sezony</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="6" />
        <label class="btn-animation" for="6">Nasza oferta</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="7" />
        <label class="btn-animation" for="7">Trendy 2018i</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="8" />
        <label class="btn-animation" for="8">Blog</label>
      </div>
      <div class="nav-menu2__main">
        <input type="checkbox" id="9" />
        <label class="btn-animation" for="9">Kontakt</label>
      </div>
    </div>
  </div>
</nav>
<span class="line"></span>
