<nav class="nav">
  <div class="wrapper">
    <ul class="nav-menu">
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Kategorie</a>
        <ul class="nav-menu__second-lvl">
          <li>
            <a class="btn-animation" href="#">Biustonosze</a>
            <ul class="nav-menu__third-lvl">
              <li><a class="btn-animation" href="#">Bardotka</a></li>
              <li><a class="btn-animation" href="#">Minimizer</a></li>
              <li><a class="btn-animation" href="#">Multiway</a></li>
              <li><a class="btn-animation" href="#">Push-up</a></li>
              <li><a class="btn-animation" href="#">Soft</a></li>
              <li><a class="btn-animation" href="#">Sportowe</a></li>
              <li><a class="btn-animation" href="#">Usztywniane</a></li>
            </ul>
          </li>
          <li><a class="btn-animation" href="#">Body</a></li>
          <li><a class="btn-animation" href="#">Majtki</a></li>
          <li><a class="btn-animation" href="#">Stroje kąpielowe</a></li>
          <li><a class="btn-animation" href="#">Bielizna erotyczna</a></li>
          <li><a class="btn-animation" href="#">Stroje sporotwe</a></li>
          <li><a class="btn-animation" href="#">Bielizna wieczorowa</a></li>
        </ul>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Nowości</a>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Promocje</a>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Wyprzedaże</a>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Kolekcje Sezony</a>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Nasza oferta</a>
      </li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Trendy 2018</a>
      </li>
      <li class="nav-menu__main"><a class="btn-animation" href="#">Blog</a></li>
      <li class="nav-menu__main">
        <a class="btn-animation" href="#">Kontakt</a>
      </li>
    </ul>

    <span class="line"></span>
  </div>
</nav>
