<div class="basket">
  <div class="basket__content shadow">
    <div class="basket__content__hdr">
      <button
        class="btn__close basket__close"
        aria-label="close"
        data-closeBasketBtn
      >
        <span class="btn__close--1"></span>
        <span class="btn__close--2"></span>
      </button>
      <p
        class="basket__content__text
  basket__content__text--sm"
      >
        Produkty w koszyku:
        <span>2</span>
      </p>
      <p class="basket__content__text">
        Kwota do zapłaty:
        <span>217.00 zł</span>
      </p>
    </div>
    <span class="line"></span>
    <div class="product">
      <img class="product__img" src="img/products/1.png" alt="product img" />
      <div class="product__desc">
        <p class="product__desc__name">
          biustonosz push-up line mos 12
        </p>
        <p class="product__desc__price">59.00 zł</p>
        <div class="product__desc__quantity">
          <p class="product__desc__quantity__txt">ilość:</p>
          <label for="quantity" class="hidden">quantity value</label>
          <input
            name="quantity"
            type="number"
            class="product__desc__quantity__inp"
            value="1"
          />
          <div class="product__desc__quantity__tools">
            <button class="iconAnimation" aria-label="delete">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="deleteIcon1"
                x="0px"
                y="0px"
                width="16px"
                height="16px"
                viewBox="0 0 459 459"
                style="enable-background:new 0 0 459 459;"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <g id="delete1">
                      <path
                        d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0h-127.5l-25.5,25.5    H51v51h357V25.5z"
                        class="active-path"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
            <button class="iconAnimation" aria-label="edit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="editIcon1"
                x="0px"
                y="0px"
                width="16px"
                height="16px"
                viewBox="0 0 528.899 528.899"
                style="enable-background:new 0 0 528.899 528.899;"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z"
                      class="active-path"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="product">
      <img class="product__img" src="img/products/2.png" alt="product img" />
      <div class="product__desc">
        <p class="product__desc__name product__desc__name--sale">
          biustonosz push-up line mos 12
        </p>
        <p class="product__desc__price">79.00 zł</p>
        <span class="product__desc__price--sale">109.00zł</span>
        <div class="product__desc__quantity">
          <p class="product__desc__quantity__txt">ilość:</p>
          <label for="quantity2" class="hidden">quantity value</label>
          <input
            name="quantity2"
            type="number"
            class="product__desc__quantity__inp"
            value="2"
          />
          <div class="product__desc__quantity__tools">
            <button class="iconAnimation" aria-label="delete">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="deleteIcon2"
                x="0px"
                y="0px"
                width="16px"
                height="16px"
                viewBox="0 0 459 459"
                style="enable-background:new 0 0 459 459;"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <g id="delete2">
                      <path
                        d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0h-127.5l-25.5,25.5    H51v51h357V25.5z"
                        class="active-path"
                      ></path>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
            <button class="iconAnimation" aria-label="edit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="editIcon2"
                x="0px"
                y="0px"
                width="16px"
                height="16px"
                viewBox="0 0 528.899 528.899"
                style="enable-background:new 0 0 528.899 528.899;"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z"
                      class="active-path"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <span class="line"></span>
    <a href="#" class="btn btn--main basket__btn">Zobacz koszyk</a>
  </div>
</div>
