.basket {
  &__content {
    background-color: $color-2;
    position: fixed;
    right: -400px;
    top: 150px;
    z-index: 100;
    border: solid 3px $color-6;
    padding: 0 24px;
    width: 345px;
    transition: 0.5s;
    .open-basket & {
      right: 0;
      position: absolute;
    }
    &__text {
      margin: 0;
      font-size: $font-size-body;
      letter-spacing: 0px;
      line-height: 21px;
      span {
        font-weight: $fw-bold;
        padding: 0 0 0 5px;
      }
      &--sm {
        font-size: $font-size-body2;
      }
    }
  }
  .product {
    display: flex;
    margin: $base-unit 0;
    &__desc {
      width: 100%;
      margin: 0 0 0 $base-unit;
      &__name {
        font-size: $font-size-h8;
        margin: 0;
        &--sale {
          color: $color-3;
        }
      }
      &__price {
        margin: 0;
      }
      &__quantity {
        margin: $base-unit 0;
        &__txt {
          margin: 0;
          display: inline-block;
        }
        &__inp {
          display: inline-block;
          border: 1px solid $color-7;
          border-radius: 2px;
          max-width: 26px;
          width: 26px;
          height: 26px;
          margin-left: 5px;
          text-align: center;
        }
        &__tools {
          display: block;
          float: right;
          button {
            cursor: pointer;
            margin: 5px 0 0 $base-unit;
          }
        }
      }
    }
  }
  &__btn {
    margin: $space auto;
  }

  &__close {
    position: absolute;
    right: $base-unit;
    top: $space;
  }
  // to end
}
