.header {
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__tools {
      width: 70%;
      display: flex;
      justify-content: flex-end;

      &__search {
        margin: 0 $base-unit;
        &__icon {
          width: 26px;
          height: 31px;
        }
      }
      &__searchBox {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        &__searchInput {
          // display: none;
          width: 100%;
          padding-right: 55px;
          padding-left: 20px;
        }
        .btn__close {
          // display: none;
          position: absolute;
          top: 15px;
          right: 15px;
        }
      }

      &__basket {
        margin: 0 $base-unit;

        position: relative;
        &__counter {
          position: absolute;
          right: -10px;
          top: 20px;
          width: auto;
          height: 20px;
          border-radius: 10px;
          background-color: $color-5;
          span {
            color: $color-2;
            padding: 2px 6px;
            font-size: 11px;
          }
        }
      }
      &__hamburger {
        margin: 3px 0 0 $base-unit;

        span {
          display: block;
          width: 24px;
          height: 3px;
          margin: 5px 0 5px 0;
          background-color: $black;
        }
      }
    }
  }
}
